<h1>Dashboard</h1>
<p>This page will have latest stats and charts.</p>
 
<div id="placeholder" style="width:600px;height:300px"></div>
<script id="source" language="javascript" type="text/javascript"> 
$j(function () {
    var contribs = [];
	<% @collections.each_with_index do |collection, i| %>
		contribs.push([<%=h collection.collected_on.to_time.to_i*1000 %>,<%=h collection.amount %>]);
	<% end %>
 
    var plot = $j.plot($j("#placeholder"),[{data:contribs,color:"rgb(77,156,192)"}], {
				series: { lines: { show: true, steps: false }, points: { show: true } },
				grid: { hoverable: true, clickable: true, backgroundColor: { colors: ["#fff", "#eee"] } },
				xaxis: {mode: "time"}
             });
 
    function showTooltip(x, y, contents) {
        $j('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 10,
            left: x + 10,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
 
    var previousPoint = null;
    $j("#placeholder").bind("plothover", function (event, pos, item) {
        $j("#x").text(pos.x.toFixed(2));
        $j("#y").text(pos.y.toFixed(2));
 
        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;
                $j("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),y = item.datapoint[1].toFixed(2);
                showTooltip(item.pageX, item.pageY,"$"+y);
            }
        }
        else {
            $j("#tooltip").remove();
            previousPoint = null;            
        }
    });
});
</script> 
