<h1>Edit contribution</h1>

<%= render :partial => "form" %>

<%= link_to 'Show', collection_contribution_path(@collection, @contribution) %> |
<%= link_to 'Back', collection_contributions_path(@collection) %>